@model IEnumerable<RestaurantAdvanceBooking.Models.Table_Reservation>

@{
    ViewData["Title"] = "AdminShowList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Table Reserve List</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number_of_persons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Special_Request)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number_of_persons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Special_Request)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>

            </td>
            <td>

                    <a href="@Url.Action("RequestApproval", "Admin", new {  Reservation_Id=item.Reservation_Id,type="Accept"})"> 
                    
                        <input type="button" value="Accept" class="btn-primary">

                      </a>
                     

                    <a href="@Url.Action("RequestReject", "Admin", new {  Reservation_Id=item.Reservation_Id,type="Reject"  })">
                        
                    <input type="button" value="Reject" class="btn-primary">

     
                          </a>
              
           
            </td>
        </tr>
}
    </tbody>
</table>
